@page
@model JobTaxiService.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Сервис по привлечению водителей в ваш таксопарк</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сервис по привлечению водителей в ваш таксопарк" />
    <meta name="keywords" content="Сервис по привлечению водителей в ваш таксопарк" />
    <meta content="Themesdesign" name="author" />

    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">

    <!-- Portfolio -->
    <link rel="stylesheet" href="~/css/tobii.min.css" type="text/css" />

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="~/css/materialdesignicons.min.css" />

    <!-- slider -->
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" />

    <!-- Pe-icon-7 icon -->
    <link rel="stylesheet" type="text/css" href="~/css/pe-icon-7-stroke.min.css">

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />

</head>

<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="71">

    <!--Navbar Start-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" id="navbar">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="#">
                <img src="~/images/logo-light.png" class="logo-light" alt="" height="46">
                <img src="~/images/logo-dark.png" class="logo-dark" alt="" height="46">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto navbar-center" id="mySidenav">    
                   
                    <li class="nav-item">
                        <a href="https://lk.таксиработааренда.рф/" class="nav-link">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://lk.таксиработааренда.рф/registration/index" class="nav-link me-0">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- START SOFTWERE-HOME -->
    <section class="softwere-home" id="home">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="softwere-home-content text-white mt-4">
                                <h4 class="softwere-home-title text-uppercase line-height_1_4 letter-spacing_4">
                                    Сервис по привлечению водителей в ваш таксопарк
                                </h4>
                                <p class="softwere-home-desc f-15 mt-4 mx-auto ">
                                    Более 5000 водителей ищут автомобили для работы в такси каждый день.
                                    Мы создали приложение где собрали всех водителей для удобного поиска автомобиля в таксопарках.
                                </p>
                                <div class="softwere-home-watch-video mt-5">
                                    <a class="modal-btn" href="javascript:void(0)" data-bs-toggle="modal"
                                       data-bs-target=".watchvideomodal">
                                        <i class="mdi mdi-play play-icon-circle play play-icon f-20"></i>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="softwere-home-img text-center">
                                <img src="images/softwere-home-img.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="softwere-home-shape-img">
                            <img src="images/home-softwere-shape.png" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg watchvideomodal" data-keyboard="false"
             tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                <div class="modal-content home-modal bg-transparent border-0">
                    <div class="modal-header border-0">
                        <button type="button" class="btn-close btn-close-white"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <video id="VisaChipCardVideo" class="video-box" width="340" height="660" controls="" autoplay>
                        <source src="https://api.xn--80aaaaadxhwt3bixfhni.xn--p1ai/video/movfile" type="video/mp4">
                        <!--Browser does not support <video> tag -->
                    </video>
                </div>
            </div>
        </div>
        <!-- end modal -->
    </section>
    <!-- END SOFTWERE-HOME -->
    <!-- START ABOUT -->
    <section class="section software-about" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="softwere-about-box text-center p-3">
                        <div class="softwere-about-icon" style="margin:0 auto; width: 70px; height: 70px; border-width: 0; background: #ffde40; border-radius: 100%; border: 2px solid #fff; position: relative;">
                            <div style="font-size: 18px;color: #000000; position: absolute; top: 50%;left: 0;right: 0;text-align: center; transform: translateY(-50%);">
                                1
                            </div>
                        </div>  
                        <h4 class="f-15 text-uppercase letter-spacing_2 mt-4">Регистрируйтесь в системе</h4>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-about-box text-center p-3">
                        <div class="softwere-about-icon" style="margin:0 auto; width: 70px; height: 70px; border-width: 0; background: #ffde40; border-radius: 100%; border: 2px solid #fff; position: relative;">
                            <div style="font-size: 18px;color: #000000; position: absolute; top: 50%;left: 0;right: 0;text-align: center; transform: translateY(-50%);">
                                2
                            </div>
                        </div>
                        <h4 class="f-15 text-uppercase letter-spacing_2 mt-4">Заполняете анĸету</h4>                        
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-about-box text-center p-3">
                        <div class="softwere-about-icon" style="margin:0 auto; width: 70px; height: 70px; border-width: 0; background: #ffde40; border-radius: 100%; border: 2px solid #fff; position: relative;">
                            <div style="font-size: 18px;color: #000000; position: absolute; top: 50%;left: 0;right: 0;text-align: center; transform: translateY(-50%);">
                                3
                            </div>
                        </div>
                        <h4 class="f-15 text-uppercase letter-spacing_2 mt-4">Проходите верифиĸацию</h4>                       
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-about-box text-center p-3">
                        <div class="softwere-about-icon" style="margin:0 auto; width: 70px; height: 70px; border-width: 0; background: #ffde40; border-radius: 100%; border: 2px solid #fff; position: relative;">
                            <div style="font-size: 18px;color: #000000; position: absolute; top: 50%;left: 0;right: 0;text-align: center; transform: translateY(-50%);">
                                4
                            </div>
                        </div>
                        <h4 class="f-15 text-uppercase letter-spacing_2 mt-4">Получаете отĸлиĸи</h4>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- START ABOUT -->

    <hr>

    <!-- START FEATURES -->
    <section class="section" id="features">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Возможности нашего сервиса</h2>
                        <p class="heading-title-desc text-muted mt-4">
                            Сервис позволяет учитывать особенности таксопарка при поиске водителя.
                            Мы внесли 24  АКТУАЛЬНЫХ  вопроса в анкету парка,чтобы водителю было 
                            удобней найти авто на условиях которые ему подходят.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3 align-items-center">
                <div class="col-lg-3">
                    <div class="softwere-features-img mt-4">
                        <img src="images/features/feature-4.png" class="img-fluid" 
                            style="height: 400px; width: auto;" alt="">                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="softwere-features-content">
                        <p class="f-20 text-muted">01.</p>
                        <h4 class="mt-4 text-uppercase f-20 letter-spacing_2">Водители сами отĸлиĸаются в ваш таĸсопарĸ</h4>
                        <p class="softwere-features-desc text-muted mt-4">После отклика водителя в мобильном приложении вам придет уведомление в ваш  личный кабинет приложения и  ваш телеграмм канал,что ускоряет процесс обработки данного отклика.</p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-md btn-dark-custom">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-5 align-items-center">
                <div class="col-lg-6">
                    <div class="softwere-features-content">
                        <p class="f-20 text-muted">02.</p>
                        <h4 class="mt-4 text-uppercase f-20 letter-spacing_2">Управление статусами отĸлиĸов</h4>
                        <p class="softwere-features-desc text-muted mt-4">После отклика все заявки от водителей попадут в раздел "Предложения водителей.</p>

                        <div class="mt-4">
                            <a href="#" class="btn btn-md btn-dark-custom">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="softwere-features-img mt-4">
                        <img src="images/features/feature-5.png" class="img-fluid"
                             style="height: 314px; width: 500px;" alt="">
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-3 align-items-center">
                <div class="col-lg-6">
                    <div class="softwere-features-img mt-4">
                        <img src="images/features/feature-6.png" class="img-fluid"
                             style="height: 314px; width: 500px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="softwere-features-content">
                        <p class="f-20 text-muted">03.</p>
                        <h4 class="mt-4 text-uppercase f-20 letter-spacing_2">Добавление несĸольĸих автопарĸов через 1 ĸабинет</h4>
                        <p class="softwere-features-desc text-muted mt-4">Вы сможете добавить несколько адресов вашего парка в одном кабинете.</p>
                        <div class="mt-4">
                            <a href="#" class="btn btn-md btn-dark-custom">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5 pt-5 align-items-center">
                <div class="col-lg-6">
                    <div class="softwere-features-content">
                        <p class="f-20 text-muted">04.</p>
                        <h4 class="mt-4 text-uppercase f-20 letter-spacing_2">Дополнительные сервисы</h4>
                        <p class="softwere-features-desc text-muted mt-4">Для вашего удобства в личном кабинете будут находится каналы связи наших партнеров по вопросам:
                            <li>Бухгалтерии</li>
                            <li>Юриспрюденции</li>
                            <li>Ремонта автомобилей</li>
                            <li>Подбора автозапчастей</li>
                            <li>Страхования ОСАГО,КАСКО и т.д.</li>
                            <li>Все консультации наших партнеров через личный кабинет для вас БЕСПЛАТНО!!!</li>

                        </p>

                        <div class="mt-4">
                            <a href="#" class="btn btn-md btn-dark-custom">Подробнее</a>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- END FEATURES -->
   
    <!-- START SREENSHORT -->
    <section class="section" id="screen">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Подробный скриншот сервиса</h2>
                        <p class="heading-title-desc text-muted mt-4">Пролистайте, чтобы посмотреть более подробно.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-12 swiper-container">
                    <div class="swiper-container homeslider pb-5">
                        <div class="swiper-wrapper mt-4">
                            <div class="swiper-slide">
                                <img src="images/screenshots/screenshot-7.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="images/screenshots/screenshot-8.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="images/screenshots/screenshot-9.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="images/screenshots/screenshot-10.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="swiper-slide">
                                <img src="images/screenshots/screenshot-11.jpg" class="img-fluid" alt="" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END SREENSHORT -->

       <!-- START TESTIMONIAL -->
    <section class="section testimonial" id="client">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Наши клиенты</h2>
                        <p class="heading-title-desc text-muted mt-4">.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-12">
                    <div id="agency-owl-demo">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="agency-testimonial-box text-center ml-2 mr-2 p-5">
                                        <div class="agency-testi-desc bg-white">
                                            <p class="text-muted f-17 mb-0">Dolorem ipsum quia dolor sit amet consectetur adipisci velit modi numquam tempora incidunt labore dolore magnam aliquam quaerat voluptatem enim laboriosam aliquid commodi consequatur.</p>
                                        </div>

                                        <div class="agency-testimonial-img mt-5 pt-3">
                                            <img src="images/users/user-1.jpg" class="img-fluid rounded-circle" alt="">
                                            <div class="mt-4">
                                                <h5 class="text-uppercase f-15 letter-spacing_2">Dennis Hammer</h5>
                                                <p class="text-muted f-13 mb-0">Founder</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="agency-testimonial-box text-center ml-2 mr-2 p-5">
                                        <div class="agency-testi-desc bg-white">
                                            <p class="text-muted f-17 mb-0">Dolorem ipsum quia dolor sit amet consectetur adipisci velit modi numquam tempora incidunt labore dolore magnam aliquam quaerat voluptatem enim laboriosam aliquid commodi consequatur.</p>
                                        </div>
                                        <div class="agency-testimonial-img mt-5 pt-3">
                                            <img src="images/users/user-2.jpg" class="img-fluid rounded-circle" alt="">
                                            <div class="mt-4">
                                                <h5 class="text-uppercase f-15 letter-spacing_2">Robert Chea</h5>
                                                <p class="text-muted f-13 mb-0">Designer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="agency-testimonial-box text-center ml-2 mr-2 p-5">
                                        <div class="agency-testi-desc bg-white">
                                            <p class="text-muted f-17 mb-0">Dolorem ipsum quia dolor sit amet consectetur adipisci velit modi numquam tempora incidunt labore dolore magnam aliquam quaerat voluptatem enim laboriosam aliquid commodi consequatur.</p>
                                        </div>
                                        <div class="agency-testimonial-img mt-5 pt-3">
                                            <img src="images/users/user-3.jpg" class="img-fluid rounded-circle" alt="">
                                            <div class="mt-4">
                                                <h5 class="text-uppercase f-15 letter-spacing_2">Victor Smith</h5>
                                                <p class="text-muted f-13 mb-0">Manager</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <i class="mdi mdi-menu-left"></i>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <i class="mdi mdi-menu-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIAL -->
    <!-- START VIDEO -->
    <section class="section cta-2">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="app-video-box text-center text-white">
                        <h2 class="app-video-title text-uppercase">Подробнее о нашем сервисе таксишка в видеоролике ниже </h2>
                        

                        <div class="mt-5 app-video-icon">
                            <a class="modal-btn" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=".watchvideomodal">
                                <span class="avatar-sm">
                                    <span class="rounded-circle btn-icon">
                                        <i class="mdi mdi-play text-white"></i>
                                    </span>
                                </span>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg watchvideomodal" data-keyboard="false" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                                    <div class="modal-content home-modal p-1">
                                        <div class="modal-header border-0">
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <video id="VisaChipCardVideo" class="video-box" controls="">
                                            <source src="https://api.xn--80aaaaadxhwt3bixfhni.xn--p1ai/video/movfile" type="video/mp4">
                                            <!--Browser does not support <video> tag -->
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <!-- end modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END VIDEO -->   

    <hr>

    <!-- START PRICING -->
    <section class="section softwere-pricing" id="pricing">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Тарифы</h2>
                        <p class="heading-title-desc text-muted mt-4">
                            Поĸа сервис для таĸсопарĸов предоставляется бесплатно. В будущем
                            здесь появятся тарифы.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3">
                <div class="col-lg-4">
                    <div class="softwere-pricing-box text-center mt-4">
                        <div class="bg-dark p-3">
                            <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Basic</h4>
                        </div>
                        <div class="p-5">
                            <div class="softwere-pricing-plan">
                                <h3><sup>$ </sup>20<span>/month</span></h3>
                            </div>
                            <div class="softwere-features mt-4 pt-3">
                                <p class="text-muted">CRM Auto-Sync</p>
                                <p class="text-muted">Unlimited Email</p>
                                <p class="text-muted">Track Energy</p>
                                <p class="text-muted">Power And Dialing</p>
                                <p class="text-muted">Speech Analytics</p>
                                <p class="text-muted">Sales platform</p>
                            </div>
                            <div class="mt-5">
                                <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-pricing-box text-center mt-4">
                        <div class="bg-dark p-3">
                            <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Standard</h4>
                        </div>
                        <div class="p-5">
                            <div class="softwere-pricing-plan">
                                <h3><sup>$ </sup>50<span>/month</span></h3>
                            </div>
                            <div class="softwere-features mt-4 pt-3">
                                <p class="text-muted">CRM Auto-Sync</p>
                                <p class="text-muted">Unlimited Email</p>
                                <p class="text-muted">Track Energy</p>
                                <p class="text-muted">Power And Dialing</p>
                                <p class="text-muted">Speech Analytics</p>
                                <p class="text-muted">Sales platform</p>
                            </div>
                            <div class="mt-5">
                                <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-pricing-box text-center mt-4">
                        <div class="bg-dark p-3">
                            <h4 class="mb-0 text-uppercase f-18 letter-spacing_4 text-white">Prenium</h4>
                        </div>
                        <div class="p-5">
                            <div class="softwere-pricing-plan">
                                <h3><sup>$ </sup>90<span>/month</span></h3>
                            </div>
                            <div class="softwere-features mt-4 pt-3">
                                <p class="text-muted">CRM Auto-Sync</p>
                                <p class="text-muted">Unlimited Email</p>
                                <p class="text-muted">Track Energy</p>
                                <p class="text-muted">Power And Dialing</p>
                                <p class="text-muted">Speech Analytics</p>
                                <p class="text-muted">Sales platform</p>
                            </div>
                            <div class="mt-5">
                                <a href="" class="btn btn-md btn-dark-custom">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END PRICING -->
    <hr>

    <!-- START SUBCRIBE -->
    <section class="section interior-bg-subscribe">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center text-white">
                <div class="col-lg-7">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Начни получать отĸлиĸи уже сегодня!</h2>
                        <p class="heading-title-desc text-white mt-4">Пройди регистрацию для доступа в личный кабинет сервиса таксишка.</p>
                    </div>
                    <div class="text-center" style="padding: 25px;">
                        <a href="https://lk.таксиработааренда.рф/registration/index"><button type="submit" class="btn btn-custom">Регистрация</button></a>
                            
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END SUBCRIBE -->
    <!-- START FAQ -->
    <section class="section book-faqs" id="faq">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Часто задаваемые вопросы</h2>                        
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3 align-items-center">
                <div class="col-lg-6">
                    <div class="book-faq-img mt-4 text-center">
                        <img src="images/softwere-faq-img.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-genarel" role="tabpanel"
                             aria-labelledby="pills-genarel-tab">
                            <div class="accordion accordion-flush" id="accordionExample">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingOne">
                                        <a href="#collapseOne" class="accordion-button" data-bs-toggle="collapse"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            <h6> <span>01.</span> Как автопарку попасть в ваше приложение.</h6>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="accordion-collapse collapse show"
                                         aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Для того чтобы попасть в приложение нужно пройти по сслыке <a href="https://lk.таксиработааренда.рф/">Вход</a>.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingTwo">
                                        <a href="#collapseTwo" class="accordion-button collapsed"
                                           data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                            <h6> <span>02.</span>Как и где  скачать мобильную версию приложения для водителя.</h6>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-collapse collapse"
                                         aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Скачать мобильное приложение для водителей <a href="https://таксиработааренда.рф/DownloadFile">Скачать</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingThree">
                                        <a href="#collapseThree" class="accordion-button collapsed"
                                           data-bs-toggle="collapse" aria-expanded="false"
                                           aria-controls="collapseThree">
                                            <h6> <span>03.</span>Платное или бесплатное приложение.</h6>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-collapse collapse"
                                         aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Molestiae recusandae
                                                Itaque
                                                earum they rerum tenetur sapiente delectus reiciendis reat voluptatibus
                                                maiores
                                                alias consequatur perferend power choice asperiores repellat.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingfour">
                                        <a href="#collapsefour" class="accordion-button collapsed"
                                           data-bs-toggle="collapse" aria-expanded="false"
                                           aria-controls="collapsefour">
                                            <h6> <span>04.</span>Можно ли размещать несколько адресов одного таксопарка.</h6>
                                        </a>
                                    </div>
                                    <div id="collapsefour" class="accordion-collapse collapse"
                                         aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Temporibus quibusdam
                                                officiis
                                                debitis rerum necessitatibus saepe eveniet voluptates repudiandae sint
                                                delectus
                                                reiciendis reat voluptatibus maiores alias consequatur.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingfour">
                                        <a href="#collapsefour1" class="accordion-button collapsed"
                                           data-bs-toggle="collapse" aria-expanded="false"
                                           aria-controls="collapsefour1">
                                            <h6> <span>05.</span>Как таксопарку провести "Акцию",чтобы о ней узнали все пользователи.</h6>
                                        </a>
                                    </div>
                                    <div id="collapsefour1" class="accordion-collapse collapse"
                                         aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Temporibus quibusdam
                                                officiis
                                                debitis rerum necessitatibus saepe eveniet voluptates repudiandae sint
                                                delectus
                                                reiciendis reat voluptatibus maiores alias consequatur.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="flush-headingfour">
                                        <a href="#collapsefour2" class="accordion-button collapsed"
                                           data-bs-toggle="collapse" aria-expanded="false"
                                           aria-controls="collapsefour2">
                                            <h6> <span>06.</span>Сколько стоят услуги партнеров сервиса.</h6>
                                        </a>
                                    </div>
                                    <div id="collapsefour2" class="accordion-collapse collapse"
                                         aria-labelledby="headingfour" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="card-body text-muted f-14 line-height_1_8">
                                                Temporibus quibusdam
                                                officiis
                                                debitis rerum necessitatibus saepe eveniet voluptates repudiandae sint
                                                delectus
                                                reiciendis reat voluptatibus maiores alias consequatur.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FAQ -->

    <hr>   
   

    <!-- START CONTACT -->
    <section class="section agency-contact" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center">
                        <h2 class="heading-title-title letter-spacing_4 text-uppercase">Наши контакты</h2>
                        
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-3 align-items-center">
                <div class="col-lg-5">
                    <div class="mt-4">
                        <div style="background-image: url('images/map.png'); background-repeat: no-repeat" class="pb-3">
                            <div class="mt-3">
                                <div class="agency-contact-icon float-start">
                                    <i class="mdi mdi-map-marker"></i>
                                </div>
                                <div class="agency-contact-info ps-4">
                                    <p class="text-muted">
                                        Москва, улица Вешних Вод, 14
                                    </p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="agency-contact-icon float-start">
                                    <i class="mdi mdi-phone"></i>
                                </div>
                                <div class="agency-contact-info ps-4">
                                    <p class="text-muted">
                                        Телефон: +7(985) 211-33-50
                                        <br>Телефон: +7(495) 211-33-50
                                    </p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="agency-contact-icon float-start">
                                    <i class="mdi mdi-calendar-clock"></i>
                                </div>
                                <div class="agency-contact-info ps-4">
                                    <p class="text-muted">
                                        Понедельник-пятница: 9:00-19:00
                                        <br>Суббота-воскресенье: Выходной
                                    </p>
                                </div>
                            </div>
                            <div class="mt-3">
                                <div class="agency-contact-icon float-start">
                                    <i class="mdi mdi-email"></i>
                                </div>
                                <div class="agency-contact-info ps-4">
                                    <p class="text-muted">Email: taksishka777@yandex.ru</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- END CONTACT -->
    <!-- START FOOTER -->
    <footer class="section-footer bg-softwere-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="softwere-footer p-4 mt-4">
                        <div class="softwere-footer-icon">
                            <i class="pe-7s-download text-white"></i>
                        </div>

                        <h4 class="text-uppercase f-15 letter-spacing_4 text-white mt-4">Использовать прямо сейчас</h4>
                        <p class="text-muted mt-4 f-15 line-height_1_6">
                            Зарегистрируйтесь, пройдите проверку 
                             и используйте программное обеспечение прямо сейчас
                        </p>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-footer p-4 mt-4">
                        <div class="softwere-footer-icon">
                            <i class="pe-7s-call text-white"></i>
                        </div>

                        <h4 class="text-uppercase f-15 letter-spacing_4 text-white mt-4">Позвоните нам</h4>
                        <p class="text-muted mt-4 f-15 line-height_1_6">
                            Если у Вас возникли вопросы о компании
                            пожалуйста позвоните нам по телефону
                        </p>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="softwere-footer p-4 mt-4">
                        <div class="softwere-footer-icon">
                            <i class="pe-7s-comment text-white"></i>
                        </div>

                        <h4 class="text-uppercase f-15 letter-spacing_4 text-white mt-4">Общаться с нами онлайн</h4>
                        <p class="text-muted mt-4 f-15 line-height_1_6">
                           Если Вам нужна оперативная поддержка 
                            свяжитесь с нашей командой прямо сейчас
                        </p>

                    </div>
                </div>
            </div>

            <div class="row mt-4 py-4">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="copy-rights text-white mb-0">© 2024 AVA</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- END FOOTER -->
    <!--shuffle-->
    <script src="~/js/shuffle.min.js"></script>

    <script src="~/js/tobii.min.js"></script>

    <script src="~/js/tobii.js"></script>

    <script src="~/js/swiper-bundle.min.js"></script>

    <script src="~/js/app.js"></script>

    <script src="~/js/counter.js"></script>

    <!-- contact -->
    <script src="~/js/contact.js"></script>

    <!--Bootstrap Js-->
    <script src="~/js/bootstrap.bundle.min.js"></script>

</body>

</html>